body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
    margin: 0;
    padding: 0;
    backgroung-color: #f7f7f7;
    color: #333
    line-height: 1.6;
}

header {
    background-color: #34495e;
    color: #fff
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

main {
    max-width: 960px;
    margin: 25px auto
    padding: 0 20px;
}

section {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 25px
    border-radius: 10px
    box-shadow: 0 4px 10px rgba(0,0,0,0.08)
    
}

address {
    font-style: normal;

}
footer {
    text-align: center;
    padding: 25px;
    color: #7f8c8d;
    font-size: 0.85em;
    margin-top: 40px;
}

email-box {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: radius 5px;
    display: inline-block;
    margin-top: 10px
    font-weight: bold;
    work-break: break-all;
}